<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="block1" style="display: block;width: 100%;height: 20px;">    
        {{book.name}} <p style="display: inline-block;"><span style="color: crimson;">***</span>Description about him</p> 
        {{book.desc}} <p style="display: inline-block;"><span style="color: crimson;">***</span>It costs</p>
        {{book.price}} <p style="display: inline-block;"><span style="color: crimson;">***</span>The image</p>
        <img src="{{book.book_image.url}}" alt="nothing">
    </div>


</body>
</html>