<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</head>
<body>
    <div class="block1" style="display: block;width: 100%;height: 20px;">    
        {{book.name}} <p style="display: inline-block;"><span style="color: crimson;">***</span>Description about him</p> 
        {{book.desc}} <p style="display: inline-block;"><span style="color: crimson;">***</span>It costs</p>
        {{book.price}} <p style="display: inline-block;"><span style="color: crimson;">***</span>The image</p>
        <img src="{{book.book_image.url}}" alt="nothing">
        <a class="btn btn-warning" href="{% url 'creations:update' book.id %}">Update</a>
        <a class="btn btn-danger" href="{% url 'creations:delete' book.id %}">Delete</a>
    
    </div>


</body>
</html>